@switch (fieldConfig().type) {
  @case (FieldType.Input) {
    <app-input-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @case (FieldType.Textarea) {
    <app-textarea-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @case (FieldType.Checkbox) {
    <app-checkbox-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @case (FieldType.Select) {
    <app-select-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @case (FieldType.Combobox) {
    <app-combobox-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @case (FieldType.Date) {
    <app-date-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @case (FieldType.DateTime) {
    <app-date-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @case (FieldType.Time) {
    <app-date-field [control]="controlFor()" [config]="fieldConfig()" />
  }
  @default {
    <app-input-field [control]="controlFor()" [config]="fieldConfig()" />
  }
}
